DISCORD_BOT_TOKEN=
USER_QUERY_CHANNEL_ID=
MODERATOR_CHANNEL_ID=
ANTHROPIC_API_KEY=

QDRANT_URL=https://your-cluster.cloud.qdrant.io:6333
QDRANT_API_KEY=

# Optional
QDRANT_COLLECTION=disFY
DOCS_DIR=QDR
